button {
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  font-family: "Fondamento", cursive;
}
