.gameBoard {
  background-image: url(../../Images/chapel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.monsterSection {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 35%;
  left: 80%;
}

.cardSection {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 2%;
  left: 1%;
}
