.board {
  background-image: url(../../Images/city.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  color: rgb(255, 60, 60);
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    font-size: 3em;
  }
}

.cardSection {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 35%;
}


